# IDEs
.idea

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage

# Generated
build
lib
tmp
.eslintcache

# Dependency directories
node_modules/

# OS files
.DS_Store

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Secrets
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build
**/dist