# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage

# Generated
build
lib
tmp
.eslintcache

# Dependency directories
node_modules/

# OS files
.DS_Store

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Secrets
.env.local
.env.development.local
.env.test.local
.env.production.local
